body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #171A26 0%, #3B0A45 100%);
  color: #FFFFFF;
}

/* Home Page */
.home-container {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}

.home-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Navbar */
.navbar {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.navbar a::after {
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

/* SignUp */
.signup-container {
  max-width: fit-content;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}
.signup-container label{
  margin-top: 10px;
}

.signup-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.signup-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5A0F1B;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #E91E63;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Login */
.login-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5A0F1B;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #E91E63;
}


